<body>
  <div class="wrapper">
    <div class="title">Gestore4</div>
<form action="#">
      <div class="field">
        <input type="text" required>
        <label>Addresse Email</label>
      </div>
<div class="field">
        <input type="password" required>
        <label>Mot de Passe</label>
      </div>
<div class="content">
        <div class="checkbox">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Se souvenir de Moi</label>
        </div>
<div class="pass-link">
<a href="#">Mot de passe oublié?</a></div>
</div>
<div class="field">
        <input type="submit" value="Connexion">
      </div>
<div class="signup-link">
Pas de Compte? <a href="#">Creer un Cmpte</a></div>
</form>
</div>
</body>
