<div class="card-deck text-center">
	<div class="card">
		<img id="image" src="../../../assets/Accueil/shopping-cart.svg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Ajouter un produit</h5>
			<p class="card-text">Ajouter un article de votre stock </p>
			<button mat-button color="primary" routerLink = ''>Ajouter</button>
		</div>
	</div>

	<div class="card">
		<img id="image" src="../../../assets/Accueil/cart.svg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Produits</h5>
			<p class="card-text">Accedez à la liste des produits</p>
			<button mat-button color="primary" routerLink = ''>Produit</button>
		</div>
	</div>

	<div class="card">
		<img id="image" src="../../../assets/Accueil/stock.svg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Modifier Stock</h5>
			<p class="card-text">Modifier les informations et le prix des articles dans le stock de produits.</p>
			<button mat-button color="primary" routerLink = "stock">Modifier</button>
		</div>
	</div>
</div>